<div class="container main">
  <div class="row">
    <div class="col-md-5 column">

      <!-- Contact list title -->
      <div class="contact-title">
        <div class="contact-title-text">Recent</div>
        <div class="search">
          <input type="text" name="search" placeholder="Search" value="">
          <button class="search-button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <!-- /Contact list title -->

      <!-- Contact list content -->
      <div class="contact-list-container">

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

      </div>
      <!-- /Contact list content -->

    </div>
    <div class="col-md-7 column">
      <!-- Message list content -->
      <div class="message-list-container">
        <!-- Message item -->
        <div class="message-item incoming">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="message-content-container">
            <div class="message-text incoming-message">
              Lorem ipsum set dolor, amet is set.Cras dolor justo, volutpat in purus non, ornare volutpat augue. Donec a eleifend leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="message-date">11:01 AM | June 9</div>
          </div>
        </div>
        <!-- /Message item -->

        <!-- Message item -->
        <div class="message-item outcoming">
          <div class="message-content-container">
            <div class="message-text outcoming-message">
              Cras dolor justo, volutpat in purus non, ornare volutpat augue. Donec a eleifend leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis purus auctor, commodo mi quis, placerat lacus. Quisque ut ligula est. Suspendisse potenti. Aenean vel vestibulum massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque consectetur molestie consectetur. Mauris ornare sapien et diam posuere tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <div class="message-date">11:01 AM | June 9</div>
          </div>
        </div>
        <!-- /Message item -->

        <!-- Message item -->
        <div class="message-item incoming">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="message-content-container">
            <div class="message-text incoming-message">
              Lorem ipsum set dolor, amet is set.Cras dolor justo, volutpat in purus non, ornare volutpat augue. Donec a eleifend leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="message-date">11:01 AM | June 9</div>
          </div>
        </div>
        <!-- /Message item -->

        <!-- Message item -->
        <div class="message-item outcoming">
          <div class="message-content-container">
            <div class="message-text outcoming-message">
              Cras dolor justo, volutpat in purus non, ornare volutpat augue. Donec a eleifend leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis purus auctor, commodo mi quis, placerat lacus. Quisque ut ligula est. Suspendisse potenti. Aenean vel vestibulum massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque consectetur molestie consectetur. Mauris ornare sapien et diam posuere tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
            <div class="message-date">11:01 AM | June 9</div>
          </div>
        </div>
        <!-- /Message item -->

      </div>
      <!-- /Message list content -->
      <form class="message-send-container">
        <input class="send-message-text" type="text" name="message" placeholder="Type a message">
        <button class="send-message-button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
      </form>

    </div>
  </div>
</div>
