<div class="container main">
  <div class="row">
    <div class="col-md-5 column">

      <!-- Contact list title -->
      <div class="contact-title">
        <div class="contact-title-text">Recent</div>
        <div class="search">
          <input type="text" name="search" placeholder="Search" value="">
          <button class="search-button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <!-- /Contact list title -->

      <!-- Contact list content -->
      <div class="contact-list-container">

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

        <!-- Contact -item -->
        <div class="contact-item">
          <div class="avatar">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/suribbles/128.jpg" alt="Avatar">
          </div>
          <div class="contact-content">
            <div class="contact-content-title">
              <div class="author">John Doe</div>
              <div class="author">Dec 25</div>
            </div>
            <div class="message">
              Maecenas cursus, mi cursus pulvinar efficitur, augue eros dapibus tellus, a posuere tellus ipsum porttitor risus. Nulla sit amet justo viverra, commodo ipsum non, sodales justo. Nullam condimentum tellus nec mi elementum, vitae consequat leo venenatis. Nulla ac ultrices magna. Cras iaculis, dolor eget dictum pharetra, est augue imperdiet lectus, nec euismod elit lectus a justo.
            </div>
          </div>
        </div>
        <!-- /Contact -item -->

      </div>
      <!-- /Contact list content -->

    </div>
    <div class="col-md-7 column">
      <div class="message-list-container">
        <div class="message-item">

        </div>
      </div>
    </div>
  </div>
</div>
